@import url("https://fonts.googleapis.com/css2?family=Pompiere&family=Rubik+Bubbles&display=swap");
@import "tailwindcss";

:root {
  --font-primary: "Rubik Bubbles";
  --font-secondary: "Pompiere";
  --font-three: "Sugo Display";

  --color-primary: #00698c;
  --color-secondary: #13b6cb;
  --color-light: #e8e3dd;
  --color-gray: #706f6f;
  --color-dark: #1d1d1b;
  --color-yellow: #ffd481;
  --color-orange: #e68447;
  --color-purple: #854698;
  --color-red: #f26a5a;
}

@font-face {
  font-family: "Sugo Display";
  src: url("/font/Sugo-Pro-Display-Regular-trial.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    font-family: var(--font-secondary);
  }

  h2, h4 {
    font-family: var(--font-three);
  }
  p {
    font-family: var(--font-secondary);
  }
}

@layer utilities {
  .font-primary {
    font-family: var(--font-primary);
  }

  .font-secondary {
    font-family: var(--font-secondary);
  }

  .font-three {
    font-family: var(--font-three);
  }


}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-280px * 5 - 0.5rem * 10));
  }
}

@keyframes scroll-sm {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-350px * 5 - 0.5rem * 10));
  }
}

@keyframes scroll-lg {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-400px * 5 - 0.5rem * 10));
  }
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-scroll {
  animation: scroll 18s linear infinite;
  transition: animation-play-state 0.3s ease;
}

.animate-scroll-paused {
  animation: scroll 18s linear infinite;
  animation-play-state: paused;
  transition: animation-play-state 0.3s ease;
}

@media (min-width: 640px) {
  .animate-scroll {
    animation: scroll-sm 20s linear infinite;
  }

  .animate-scroll-paused {
    animation: scroll-sm 20s linear infinite;
    animation-play-state: paused;
  }
}

@media (min-width: 1024px) {
  .animate-scroll {
    animation: scroll-lg 22s linear infinite;
  }

  .animate-scroll-paused {
    animation: scroll-lg 22s linear infinite;
    animation-play-state: paused;
  }
}

.animate-scroll:hover {
  animation-play-state: paused;
}

.animate-scroll {
  will-change: transform;
  backface-visibility: hidden;
  perspective: 1000px;
}

.animate-scroll,
.animate-scroll-paused {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

@layer utilities {
  .animate-floating {
    animation: floating 3s ease-in-out infinite;
  }
}
